CaseProject/src/main/resources/wsdl/provider-b.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://flightproviderb.com/soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://flightproviderb.com/soap" targetNamespace="http://flightproviderb.com/soap">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://flightproviderb.com/soap">

    <xs:element name="availabilitySearchRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="departure" type="xs:string"/>
                <xs:element name="arrival" type="xs:string"/>
                <xs:element name="departureDate" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="availabilitySearchResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hasError" type="xs:boolean"/>
                <xs:element minOccurs="0" name="errorMessage" type="xs:string"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="flightOptions" type="tns:flight"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="flight">
        <xs:sequence>
            <xs:element name="flightNumber" type="xs:string"/>
            <xs:element name="departure" type="xs:string"/>
            <xs:element name="arrival" type="xs:string"/>
            <xs:element name="departuredatetime" type="xs:dateTime"/>
            <xs:element name="arrivaldatetime" type="xs:dateTime"/>
            <xs:element name="price" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="availabilitySearchRequest">
    <wsdl:part element="tns:availabilitySearchRequest" name="availabilitySearchRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="availabilitySearchResponse">
    <wsdl:part element="tns:availabilitySearchResponse" name="availabilitySearchResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FlightProviderBPort">
    <wsdl:operation name="availabilitySearch">
      <wsdl:input message="tns:availabilitySearchRequest" name="availabilitySearchRequest">
    </wsdl:input>
      <wsdl:output message="tns:availabilitySearchResponse" name="availabilitySearchResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FlightProviderBPortSoap11" type="tns:FlightProviderBPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="availabilitySearch">
      <soap:operation soapAction=""/>
      <wsdl:input name="availabilitySearchRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="availabilitySearchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlightProviderBPortService">
    <wsdl:port binding="tns:FlightProviderBPortSoap11" name="FlightProviderBPortSoap11">
      <soap:address location="http://localhost:8082/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
